body {
    background-image: url("../source/Background.png");
    background-attachment: fixed;
}

/* Правила для шапки */
header {
    display: flex;
    justify-content: center;
}

.header-nav-arr{
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.header-nav-arr li {
    margin-right: 19px;
}

@font-face {
    font-family: Inter;
    font-style: regular;
    src: local("Inter"), url("../fonts/Inter-Regular.woff2") format("woff2")
}

header button {
    border-width: 5px;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    color: #43AA72;
    border-color: #43AA72;
    background-color: #FFFFFF;
}

header button:hover {
    background-color: #DBEDE3;
}

.logo {
    background-color: #FAC664;
    border-radius: 50%;
}

.actual-orders-button,
.accepted-orders-button {
    height: 103px;
    width: 438px;
    left: 368px;
    top: 58px;
    border-radius: 46px;
}

.LK-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 103px;
    width: 405px;
    border-radius: 1271px;
}

.LK-button p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 30px;
    width: 190px;
}

.LK-button img {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #43AA72;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
/* Конец правил для шапки */

/* Правила для списка заказов */
main {
    display: flex;
    justify-content: center;
}

.accepted-orders {
    padding: 0;
}

.accepted-orders-item {
    list-style: none;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 0;
    width: 1430px;
    border-radius: 55px;
    color: #5C434D;
    border: 5px solid #43AA72;
    background-color: #FFFFFF;
}

.about-order,
.about-order-content,
.order-content-list {
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 32px;
    line-height: 37px;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    margin-left: 60px;
}

@font-face {
    font-family: Ubuntu;
    font-style: regular;
    src: local("Ubuntu"), url("../fonts/ubuntu.woff2") format("woff2")
}

.about-order-content,
.buttons,
.order-content,
.order-item-number,
.order-item-date-and-time,
.order-item-number p,
.order-item-date-and-time p,
.about-order-content p,
.order-content-list-item p {
    display: inline-block;
}

.buttons button,
.order-content-list {
    padding: 0;
}

.order-number,
.order-date-and-time {
    margin-left: 30px;
}

.order-item-number {
    margin-right: 119px;
}

.order-content {
    width: 836px;
    vertical-align: top;
}

.order-content-header-amount {
    margin-left: 340px;
}

.order-content-list {
    list-style: none;
    margin-bottom: 30px;
}

.order-content-list-item {
    margin-top: -50px;
}

.order-content-item-name {
    margin-left: 30px;
}

.order-content-item-amount {
    margin-left: 310px;
}

.buttons {
    display: inline-block;
    text-align: center;
    width: 378px;
    margin-left: 130px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.buttons button {
    border: none;
    border-radius: 30px;
}

.ready-btn {
    width: 378px;
    height: 146px;
    background-color: #94E387;
    background-image: url("../source/baked.png");
}

.cancel-btn,
.more-info-btn {
    margin-top: 5px;
    width: 187px;
    height: 138px;
}

.ready-btn,
.cancel-btn,
.more-info-btn {
    background-repeat: no-repeat;
    background-position: center;
}

.cancel-btn {
    background-color: #FA9292;
    background-image: url("../source/canceled.png");
}

.more-info-btn {
    background-color: #BDB4B4;
    background-image: url("../source/dots.png");
}

.order-content-header-cntnt,
.order-content-header-amount {
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 32px;
}