body {
    background-image: url("../source/Background.png");
    background-attachment: fixed;
}

/* Правило для шапки */
.header-container {
    display: flex;
    justify-content: center;
}

header {
    margin-top: 40px;
}

.header-text {
    height: 68px;
    width: 244px;
}

.logo {
    height: 116px;
    width: 116px;
}

.five-sixth {
    margin-bottom: 16px;
    margin-top: 25px;
}

.online-pizza {
    margin-left: 25px;
}

.header-text {
    margin-left: 24px;
}

a {
    text-decoration: none;
}

/* Правило для окна регистрации */
@font-face {
    font-family: Inter;
    font-style: regular;
    src: local("Inter"), url("../fonts/Inter-Regular.woff2") format("woff2")
}

.main-page {
    display: flex;
    justify-content: center;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
}

.back-to-page-btn {
    width: 53px;
    height: 53px;
    border-radius: 50px;
    border: 0px solid #C7C0C2;
    background-color: #C7C0C2;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../source/arrow.png');
}

.back-to-page-btn:hover {
    background-color: #91898c;
}

.registration-popup {
    height: 751px;
    width: 1056px;
    margin-top: 30px;
    border: 5px solid #43AA72;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.back-to-page-btn,
.reg-title {
    display: inline-block;
}

.registration-header {
    margin-top: 27px;
    margin-left: 27px;
}

.reg-title {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 211px;
}

ul {
    list-style: none;
    padding: 0;
}

.about-new-employee {
    height: 440px;
    margin-left: 74px;
    margin-top: 0;
    margin-bottom: 0;
}

.about-new-employee li {
    display: inline-block;
}

input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #000;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
}

.fio-input{
    width: 905px;
}

.phone-num-input,
.email-input,
.birth-date-input,
.password-input {
    width: 420px;
}

.email,
.email-input,
.password,
.password-input {
    margin-left: 55px;
}

/* .fio, 
.password,
.job-title,
.fio-input,
.password-input{
    margin-left: 74px;
} */

.job-title,
.job-list {
    margin-left: 74px;
}

.job-list {
    height: 32px;
}

.job-list li {
    display: inline-block;
    height: 73px;
    width: 215px;
    border-radius: 100px;
    border: none;
    border-color: #D9D9D9;
}

.job-list input {
    display: none;
}

.cook,
.courier {
    margin-left: 130px;
}

.add-button {
    height: 90px;
    width: 260px;
    border-radius: 76px;
    border-radius: 58px;
    border: 0px;
    background-color: #43AA72;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 198px;
}

.add-button:hover {
    background-color: #298653
}
