body {
    background-image: url("../source/Background.png");
    background-attachment: fixed;
}

/* Правило для шапки */
.header-container {
    display: flex;
    justify-content: center;
}

header {
    margin-top: 40px;
}

.header-text {
    height: 68px;
    width: 244px;
}

.logo {
    height: 116px;
    width: 116px;
}

.five-sixth {
    margin-bottom: 16px;
    margin-top: 25px;
}

.online-pizza {
    margin-left: 25px;
}

.header-text {
    margin-left: 24px;
}

a {
    text-decoration: none;
}

/* Правило для окна регистрации */
@font-face {
    font-family: Inter;
    font-style: regular;
    src: local("Inter"), url("../fonts/Inter-Regular.woff2") format("woff2")
}

.main-page {
    display: flex;
    justify-content: center;
}

.back-to-page-btn {
    width: 53px;
    height: 53px;
    border-radius: 50px;
    border: 0px solid #C7C0C2;
    background-color: #C7C0C2;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../source/arrow.png');
}

.back-to-page-btn:hover {
    background-color: #91898c;
}

.registration-popup {
    height: 774px;
    width: 656px;
    margin-top: 30px;
    border: 5px solid #43AA72;
    border-radius: 20px;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
    background-color: #FFFFFF;
}

.back-to-page-btn,
.reg-title {
    display: inline-block;
}

.registration-header {
    margin-top: 27px;
    margin-left: 27px;
}

.reg-title {
    vertical-align: top;
    margin-top: 10px;
    margin-left: 20px;
}

input {
    width: 536px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #000;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
}

.icon {
    margin-left: 286.5px;
}

.login, 
.password,
.job-title,
.login-input,
.password-input,
.choose-button {
    margin-left: 55px;
}

.choose-button {
    height: 53px;
    width: 536px;
    border-radius: 76px;
    border-radius: 58px;
    border: 0px;
    background-color: #AA9FA3;
    font-family: Inter;
    font-style: Regular;
    font-size: 28px;
    line-height: 39px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: -10px;
}

.choose-button:hover {
    background-color: #91898c;
}

.job-list {
    height: 180px;
    width: 498px;
    list-style: none;
    padding: 0;
    margin-left: 70px;
    margin-top: 5px;
    border: 3px solid #5C434D;
    border-radius: 0 0 15px 20px;
    border-top: none;
}

.job-list li,
.job {
    padding: 0;
    height: 50px;
    width: 498px;
}

.job {
    padding-left: 10px;
    text-align: left;
    border: none;
    background-color: #FFFFFF;
}

.job:hover {
    background-color: #bbb9ba;
}

.add-button {
    height: 90px;
    width: 260px;
    border-radius: 76px;
    border-radius: 58px;
    border: 0px;
    background-color: #43AA72;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 198px;
}

.add-button:hover {
    background-color: #298653
}
