body {
    background-image: url("../source/Background.png");
    background-attachment: fixed;
}

/* Правила для шапки */
header {
    display: flex;
    justify-content: center;
}

.header-nav-arr{
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.header-nav-arr li {
    margin-right: 19px;
}

@font-face {
    font-family: Inter;
    font-style: regular;
    src: local("Inter"), url("../fonts/Inter-Regular.woff2") format("woff2")
}

header button {
    border-width: 5px;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    color: #43AA72;
    border-color: #43AA72;
    background-color: #FFFFFF;
}

header button:hover {
    background-color: #DBEDE3;
}

.logo {
    background-color: #FAC664;
    border-radius: 50%;
}

.actual-orders-button,
.accepted-orders-button,
.orders-archive-button {
    height: 103px;
    width: 285px;
    left: 368px;
    top: 58px;
    border-radius: 46px;
}

.LK-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 103px;
    width: 405px;
    border-radius: 1271px;
}

.LK-button p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 30px;
    width: 190px;
}

.LK-button img {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #43AA72;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
/* Конец правил для шапки */

/* Правила для списка квитанций */
main {
    display: flex;
    justify-content: center;
}

.receipts {
    padding: 0;
}

.receipts-item {
    list-style: none;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 0;
    height: 435px;
    width: 1007px;
    border-radius: 55px;
    color: #5C434D;
    border: 5px solid #43AA72;
    background-color: #FFFFFF;
}

.about-receipt {
    width: 580px;
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 32px;
    line-height: 37px;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    margin-left: 60px;
}

@font-face {
    font-family: Ubuntu;
    font-style: regular;
    src: local("Ubuntu"), url("../fonts/ubuntu.woff2") format("woff2")
}

.about-receipt div p,
.about-receipt,
.buttons  {
    display: inline-block;
}

.receipts-item-sum,
.receipts-item-taxes,
.receipts-item-fees,
.receipts-item-prize {
    width: 482px;
    height: 45px;
    margin-top: 5px;
}

.receipts-item p {
    margin: 6px;
}

.receipts-item-sum {
    margin-top: -25px;
}

.receipts-item-date-and-time {
    width: 450px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.receipts-date-and-time {
    margin-top: 50px;
    margin-bottom: 10px;
}

.receipts-item-total {
    margin-top: 35px;
}

.more-info-btn {
    margin-top: 20px;
    padding: 0;
    width: 313px;
    height: 102px;
    border: none;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #BDB4B4;
    background-image: url("../source/corner_mark.png");
}
/* Конец правил для списка квитанций */

/* Правила для кнопки "Сменить пароль" */
.outer-buttons {
    width: 285px;
    margin-left: 120px;
    margin-right: 16px;
    margin-top: 80px;
}

.change-password-btn:hover {
    background-color: #DBEDE3;
}

.change-password-btn {
    width: 285px;
    height: 103px;
    border-width: 5px;
    border-radius: 46px;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    color: #43AA72;
    border-color: #43AA72;
    background-color: #FFFFFF;
}

/* Правила для попапа */
.deep-dark-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.change-password-popup {
    display: inline-block;
    position: absolute;
    height: 774px;
    width: 656px;
    border-width: 5px;
    border-radius: 20px;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
    border: 5px solid #43AA72;
    background-color: #FFFFFF;
    margin: 8% 0 0 33%;
}

input {
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
}

.popup-header {
    margin-left: 28px;
    margin-top: 28px;
}

.back-to-page-btn,
.change-password-title {
    display: inline-block;
}

.change-password-title {
    vertical-align: top;
    margin-top: 12px;
    margin-left: 100px;
}

.back-to-page-btn {
    width: 53px;
    height: 53px;
    border-radius: 50px;
    border: 0px solid #C7C0C2;
    background-color: #C7C0C2;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../source/arrow.png');
}

.back-to-page-btn:hover {
    background-color: #91898c;
}

.change-pass-info {
    margin-top: 60px;
    margin-left: 70px;
}

.change-pass-info input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 500px;
}

.change-btn {
    width: 260px;
    height: 90px;
    border-radius: 58px;
    border: 0px;
    background-color: #43AA72;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 71px;
    margin-left: 195px;
}

.change-btn:hover {
    background-color: #298653;
}