body {
    /* overflow: hidden; */
    background-image: url("../source/Background.png");
    background-attachment: fixed;
}

/* Правила для шапки */
header {
    
    display: flex;
    justify-content: center;
}

.header-nav-arr{
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.header-nav-arr li {
    margin-right: 19px;
}

@font-face {
    font-family: Inter;
    font-style: regular;
    src: local("Inter"), url("../fonts/Inter-Regular.woff2") format("woff2")
}

header button {
    border-width: 5px;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    text-align: Center;
    vertical-align: Top;
    color: #43AA72;
    border-color: #43AA72;
    background-color: #FFFFFF;
}

header button:hover {
    background-color: #DBEDE3;
}

.logo {
    background-color: #FAC664;
    border-radius: 50%;
}

.actual-orders-button,
.accepted-orders-button,
.orders-archive-button {
    height: 103px;
    width: 285px;
    left: 368px;
    top: 58px;
    border-radius: 46px;
}

.LK-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 103px;
    width: 405px;
    border-radius: 1271px;
}

.LK-button p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
    margin-right: 30px;
    width: 190px;
}

.LK-button img {
    margin-top: auto;
    margin-bottom: auto;
    background-color: #43AA72;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
/* Конец правил для шапки */

/* Правила для списка заказов */
main {
    display: flex;
    justify-content: center;
}

.new-order {
    padding: 0;
    margin-right: 15px;
    margin-bottom: 30px;
    padding: 0;
    width: 1430px;
    border-radius: 55px;
    color: #5C434D;
    border: 5px solid #43AA72;
    background-color: #FFFFFF;
}

input[type="text"],
input[type="tel"],
.about-customer,
.order-content {
    font-family: Ubuntu;
    font-style: Regular;
    font-size: 32px;
    line-height: 37px;
    line-height: 100%;
    text-align: Left;
    vertical-align: Top;
    margin-left: 60px;
}

input[type="text"],
input[type="tel"] {
    margin-left: 0;
}

@font-face {
    font-family: Ubuntu;
    font-style: regular;
    src: local("Ubuntu"), url("../fonts/ubuntu.woff2") format("woff2")
}

.about-customer,
.buttons {
    display: inline-block;
}

.buttons button {
    padding: 0;
}

.about-order {
    margin-bottom: 35px;
}

.about-customer {
    width: 836px;
    margin-top: 25px;
}

.order-customer,
.order-address,
.order-phone-number {
    margin-top: -10px;
    width: 820px;
    height: 90px;
    border-radius: 30px;
}

.buttons {
    display: inline-block;
    text-align: center;
    width: 378px;
    margin-left: 80px;
}

.ok-btn {
    margin-top: 110px;
    width: 297px;
    height: 234px;
    border: none;
    border-radius: 80px;
    background-color: #94E387;
    background-image: url("../source/vo.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ok-btn:hover {
    background-color: #8ad37e;
}

/* Содержимое заказа */

.order-content-add-btn {
    width: 1324px;
    height: 68px;
    padding: 0;
    margin-left: -8px;
    margin-bottom: 20px;
    border: none;
    border-radius: 30px;
    background-color: #C5BABE;
    background-image: url("../source/plus.png");
    background-repeat: no-repeat;
    background-position: center;
}

.order-content-add-btn:hover {
    background-color: #91898c;
}

.order-content {
    width: 1245px;
    margin-left: 60px;
}

.order-content-header p,
.order-content-list-item p {
    display: inline-block;
}

.order-content-header-amount,
.order-content-header-cost {
    margin-left: 300px;
}

.order-content-list {
    list-style: none;
    padding: 0;
}

.order-content-list-item {
    margin-top: -50px;
    margin-left: 36px;
}

.order-content-item-amount {
    margin-left: 260px;
}

.order-content-item-cost {
    margin-left: 330px;
}

/* Правила для попапа */
.deep-dark-popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    /* overflow: hidden; */
    position: absolute;
    top: 0px;
}

.pick-dish-popup {
    display: inline-block;
    position: absolute;
    height: 680px;
    width: 656px;
    border-width: 5px;
    border-radius: 20px;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
    border: 5px solid #43AA72;
    background-color: #FFFFFF;
    margin: 8% 0 0 33%;
}

input,
.dish {
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #5C434D;
}

.popup-header {
    margin-left: 28px;
    margin-top: 28px;
}

.back-to-page-btn,
.pick-dish-title {
    display: inline-block;
}

.pick-dish-title {
    vertical-align: top;
    margin-top: 12px;
    margin-left: 180px;
}

.back-to-page-btn {
    width: 53px;
    height: 53px;
    border-radius: 50px;
    border: 0px solid #C7C0C2;
    background-color: #C7C0C2;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../source/arrow.png');
}

.back-to-page-btn:hover {
    background-color: #91898c;
}

.pick-dish-info {
    margin-top: 60px;
    margin-left: 70px;
}

.search-input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 500px;
}

.dishes-list {
    height: 180px;
    width: 498px;
    list-style: none;
    overflow: hidden; 
    overflow-y: scroll;
    padding: 0;
    margin-left: 70px;
    margin-top: 5px;
    border: 3px solid #5C434D;
    border-radius: 0 0 15px 20px;
    border-top: none;
}

.dishes-list li,
.dish {
    padding: 0;
    height: 50px;
    width: 498px;
}

.dish {
    padding-left: 10px;
    text-align: left;
    border: none;
    background-color: #FFFFFF;
}

.dish:hover {
    background-color: #bbb9ba;
}

.dishes-list::-webkit-scrollbar {
    display: none;
}

.amount-info p,
.amount-info button {
    display: inline-block;
}

.amount-info {
    margin-top: 30px;
    margin-left: 70px;
}

.amount-input {
    height: 70px;
    width: 110px;
    border: 3px solid #5C434D;
    border-radius: 20px;
    margin-left: 20px;
}

.add-btn {
    width: 260px;
    height: 90px;
    border-radius: 58px;
    border: 0px;
    background-color: #43AA72;
    font-family: Inter;
    font-style: Regular;
    font-size: 32px;
    line-height: 39px;
    line-height: 100%;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 195px;
}

.add-btn:hover {
    background-color: #298653;
}

.change-btn:hover {
    background-color: #298653;
}

.order-table {
    width: 100%;
    margin-top: 64px;
    margin-bottom: 32px;
    
}

.order-table .order-table-head th{
    
}

.order-content-header-cntnt {
    text-align: left;
    width: 50%;
}

.order-content-header-amount {
    text-align: center;
    width: 15%;
}

.order-content-header-cost {
    text-align: center;
    width: 35%;
}

.order-table-body td {
    text-align: center;
}
.order-table-body td:first-child {
    padding-left: 38px;
    text-align: left;
}